@use './variables' as *;

* {
  box-sizing: border-box;

  &:focus {
    outline: none;
  }
}

::-webkit-scrollbar {
  width: 0.4375rem;

  &-track {
    background-color: white;
  }

  &-thumb {
    background-color: map-get($map: $colors, $key: blue);

    &:hover {
      background-color: map-get($map: $colors, $key: blue-alt);
    }
  }
}

html {
  font-size: 16px;

  @include mdMax {
    font-size: 14px;
  }

  @include smMax {
    font-size: 12px;
  }
}

body {
  font-family: sans-serif;
  margin: 0;

  a {
    text-decoration: none;
  }

  ul {
    list-style: none;
    padding: 0;
  }
}

.main {
  background: url(../img/bg.png), map-get($map: $colors, $key: white);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 12.5rem 6.25rem;
  max-height: 100vh;

  .wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 3.75rem;
    gap: 3.75rem;
    background: map-get($map: $colors, $key: bg);
    border-radius: $border-radius;

    @include smMax {
      flex-direction: column;
      justify-content: space-evenly;
      min-width: 100vw;
      min-height: 100vh;
    }

    .logo {
      border-radius: $border-radius;
      width: 40%;

      @include smMax {
        width: 90%;
      }
    }

    .content {
      flex-grow: 1;

      @include smMax {
        width: 100%;
        text-align: center;
        flex-grow: 0;
      }

      .title {
        text-transform: capitalize;
        font-size: 2rem;
        margin-top: 0;
      }

      .desc {
        margin-top: 0;
        font-size: 1.2rem;
        font-weight: 400;
      }

      .form {
        .input-group {
          position: relative;
          &:not(:last-of-type) {
            margin-bottom: 0.625rem;
          }

          $icon: 1.875rem;
          .icon {
            position: absolute;
            top: 50%;
            #{$left}: calc($icon / 2);
            width: $icon;
            transform: translateY(-50%);
          }

          .input {
            border: 0;
            width: 100%;
            height: 3.75rem;
            background-color: map-get($map: $colors, $key: white);
            padding-left: calc($icon * 2);
            caret-color: map-get($map: $colors, $key: blue-alt);
            border-radius: $border-radius;
          }
        }
      }

      .btn {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        background: map-get($map: $colors, $key: btn);
        box-shadow: 0rem 0.375rem 1.125rem map-get($map: $colors, $key: shadow);
        border-radius: $border-radius;
        height: 3.75rem;
        text-transform: uppercase;
        font-weight: bold;
        color: map-get($map: $colors, $key: white);
        outline: none;
        font-size: inherit;
        border: 0;
        margin-top: 2rem;
        cursor: pointer;

        &:active {
          transform: scale(0.98);
        }
      }
    }
  }
}
